<h2>Контакты</h2>

<form>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Введите email</label>
  <input name="email" type="email" class="form-control" placeholder="введите ваш email">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
  <textarea name="text" class="form-control" rows="6" placeholder="введите ваше сообщение..."></textarea>
</div>
<br/>
<div>
	<button type="submit" class="btn btn-primary">Отправить</button>
</div>
</form>